APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


BAIDU_TRANSLATE_APPID=
BAIDU_TRANSLATE_KEY=

# aliyun 短信
SMS_ALIYUN_ACCESS_KEY_ID=
SMS_ALIYUN_ACCESS_KEY_SECRET=
SMS_ALIYUN_TEMPLATE_REGISTER=

# 小程序 谨耀商
WECHAT_MINI_PROGRAM_APPID=
WECHAT_MINI_PROGRAM_SECRET=
# 小程序 振圣
WECHAT_MINI_PROGRAM_APPID_ZHENSHENG=
WECHAT_MINI_PROGRAM_SECRET_ZHENSHENG=
# 小程序 萤火虫
WECHAT_MINI_PROGRAM_APPID_YINGHUOCHONG=
WECHAT_MINI_PROGRAM_SECRET_YINGHUOCHONG=

# 抖音小程序 三叉戟
TIKTOK_MINI_PROGRAM_APPID=
TIKTOK_MINI_PROGRAM_SECRET=
# 菲莉亚
TIKTOK_MINI_PROGRAM_APPID_FEILIYA=
TIKTOK_MINI_PROGRAM_SECRET_FEILIYA=

ADMIN_HTTPS = false

# JWT Json web token
JWT_SECRET=
# 不然 refresh 和 logout 原令牌不失效
JWT_SHOW_BLACKLIST_EXCEPTION=true
#JWT_BLACKLIST_GRACE_PERIOD = 3540
#JWT_TTL=1 # 过期时间 60分钟
#JWT_REFRESH_TTL=1 # 可刷新时间 默认 20160分钟 14天
